<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>true</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.mercurial.MercurialSCM">
    <source>ssh://hg@bitbucket.org/deccico/bellatrix_configs</source>
    <modules></modules>
    <clean>false</clean>
    <browser class="hudson.plugins.mercurial.browser.BitBucket">
      <url>https://bitbucket.org/deccico/bellatrix_configs/</url>
    </browser>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>secret0</authToken>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact>
      <projectName>01-start instance</projectName>
      <filter>*_out</filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>virtualenv --no-site-packages --clear bellatrix_configs
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>. bellatrix_configs/bin/activate
pip install bellatrix 
bellatrix --version</command>
    </hudson.tasks.Shell>
    <hudson.plugins.python.Python>
      <command>import os

host = open(&quot;start_instance_out&quot;).read().split(&quot;,&quot;)[1].strip()
cmd = &quot;. bellatrix_configs/bin/activate&quot;
cmd += &quot;&amp;&amp; bellatrix provision %s %s %s --private_key %s&quot; % (&quot;bellatrix_configs/ubuntu_django_nginx_gunicorn.py&quot;, &quot;ubuntu&quot;, host, &quot;~/.bellatrix/ec2.pk&quot;)
print &quot;executing &quot; + cmd
os.system(cmd)</command>
    </hudson.plugins.python.Python>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>03-burn instance</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>