<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>true</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact>
      <projectName>01-start_instance</projectName>
      <filter>*_out</filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>rm -rf env
virtualenv --no-site-packages env
. env/bin/activate
pip install bellatrix --upgrade 
bellatrix --version</command>
    </hudson.tasks.Shell>
    <hudson.plugins.python.Python>
      <command>import os, sys

instance = open(&quot;start_instance_out&quot;).read().split(&quot;,&quot;)[0].strip()
cmd = &quot;. env/bin/activate&quot;
cmd += &quot;&amp;&amp; bellatrix burn %s %s --wait=true&quot; % (instance, &quot;ubuntu_django_nginx_gunicorn_x64&quot;)
print &quot;executing &quot; + cmd
ret = os.system(cmd)
print &quot;exit code: %s&quot; % (ret)
ret = ret if ret &lt; 256 else 1
sys.exit(ret)</command>
    </hudson.plugins.python.Python>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>04-terminate_instance</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>